PORT=4000
DATABASE_URL="postgresql://postgres:Admin@123@localhost:5432/gank"
JWT_SECRET="your_very_secret_key_here"
BOT_TOKEN="your_telegram_bot_token"
API_URL="http://localhost:4000"
WEBAPP_URL="http://localhost:3000"